.header {
    align-items: center;
    background-color: #FFFF;
    display: flex;
    height: 93px;
    justify-content: space-between;
    padding: 22px 120px;
    width: 100%;
}

.logo{
    cursor: pointer;
    color: black;
    font-size: 2rem;
    font-weight: 700;
    margin-right: 15px;
}

.nav{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.links{
    cursor: pointer;
    color: #424242;
    font-size: 1.3rem;
    font-weight: 400;
    padding: 0px 45px;
}


@media (max-width: 720px) {
    .logo{
        cursor: pointer;
        color: black;
        font-size: 1.7rem;
        font-weight: 700;
        margin-right: 15px;
    }

    .links{
        cursor: pointer;
        color: #424242;
        font-size: 1.1rem;
        font-weight: 400;
        padding: 0px 45px;
    }
}

@media (max-width: 375px) {
    .header{
        padding: 15px 45px;
    }
    .logo{
        cursor: pointer;
        color: black;
        font-size: 1.2rem;
        font-weight: 700;
        margin-right: 10px;
    }

    .links{
        cursor: pointer;
        color: #424242;
        font-size: 0.9rem;
        font-weight: 400;
        padding: 0px 20px;
    }
}