.container{
    align-items: center;
    background-image: url("../../assets/img/map_fondo.jpg");
    background-size: cover; 
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.flag{
    filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.4));
    height: 240px;
    left: 35px;
    position: relative;
    width: 380px;
    z-index: 1;
}

.card{
    align-items: center;
    background-color: #FFF;
    border-radius: 56px;
    display: flex;
    filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
    flex-direction: column;
    max-height: 500px;
    min-height: 300px;
    padding-bottom: 40px;
    width: 360px;
}

.title{
    color: black;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 15px;
    max-width: 260px;
    position: relative;
}

.subcontainer{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.division{
    align-content: flex-start;
    display: flex;
}

.label{
    color: #5D5D5D;
    font-size: 1rem;
    font-weight: 300;
}

.text{
    color: black;
    font-size: 1rem;
    font-weight: 400;
    margin-left: 15px;
}

.returnIcon{
    height: 25px;
    width: 25px;
}

.returnIcon:hover{
    transform: scaleX(1.1) scaleY(1.1);
}

.controllerButton{
    background-color: #fff;
    border-radius: 50%;
    border: none;
    height: 25px;
    left: 130px;
    position: relative;
    top: 20px;
    width: 25px;
}

@media (max-width: 375px) {
    .container{
        flex-direction: column;
        min-height: 600px;
    }  

    .flag{
        height: 190px;
        left: -3px;
        margin-bottom: 30px;
        margin-top: 30px;
        width: 280px;
    }

    .card{
        border-radius: 56px 56px 0px 0px;
    
        height: 350px;
        margin-bottom: 0;
    }
}


