.container{
    background-image: url("../../assets/img/hot-air-balloons.jpg");
    background-size: cover; 
    display: flex;
    justify-content: flex-end;
    min-height: 100vh;
}


@media (max-width: 375px)  {
    .container{
    background-size: cover;
    display: flex;
    justify-content: center;
    width: 700px;

    }
}