
.title{
    color: black;
    font-size: 1.4rem;
    font-weight: 600;
    position: relative;
    top: 30px;
}   

.subtitle{
    color: black;
    font-size: 1.2rem;
    font-weight: 300;
    position: relative;
    top: 25px;
}

.form{
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    row-gap: 15px;
    top:35px; 
    width: 380px;
}

.container_division{
    display: flex;
    flex-direction: column;
}

.container_subdivision{
    align-items: flex-start;
    display: flex;
}

.container_subdivision_m{
    display:flex;
    flex-direction: column;
}

.container_subdivision_s{
    display:flex;
    flex-direction: column;
    margin-left: 25px;
}

.label{
    color: black;
    font-size: 0.8rem;
    font-weight: 300;
    margin-bottom: 8px;
}

.inputLarge{
    background-color: #f4f3f3;
    border-radius: 10px;
    border-style: unset;
    height: 30px;
    padding-left: 10px;
    width: 370px;
}

.inputMedium{
    background-color: #f4f3f3;
    border-radius: 10px;
    border-style: unset;
    height: 30px;
    padding-left: 10px;
    width: 200px;
}

.inputShort{
    background-color: #f4f3f3;
    border-radius: 10px;
    border-style: unset;
    height: 30px;
    padding-left: 10px;
    width: 145px;
}

.container_division_country{
    display: flex;
    flex-direction: column;
    width: 97%;
}

.container_subdivision_country{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    height: 150px;
    background: #f4f3f3;
    padding: 8px 13px;
    border-radius: 15px;
}

.container_element_country{
    align-items: flex-start;
    display: flex;
    margin-top: 10px;
}

.inputMedium_Country{
    background-color: #e7e7e7;
    border-radius: 10px;
    border-style: unset;
    height: 30px;
    padding-left: 10px;
    margin-right: 2px;
    width: 270px;
}

.countryButton{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #f4f3f3;
    border: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2px;
}

.countryButton:hover{
    box-shadow: 0 0 4px rgba(0,0,0,0.25);
}

.addIcon{
    width: 28px;
    height: 28px;
}

.minusIcon{
    width: 23px;
    height: 23px;
}

.error{
    color: red;
    font-size: 0.7rem;
    font-weight: 400;
    margin-bottom: 2px;
    margin-top: 2px;
}

.errorMessage{
    color: red;
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 2px;
    margin-top: 2px;
    position: relative;
    top: 30px;
}

.okMessage{
    color: green;
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 2px;
    margin-top: 2px;
    position: relative;
    top: 30px;
}


.button{
    background-color: black;
    border-radius: 25px;
    height: 50px;
    margin-top: 10px;
    width: 145px;
}

.button:hover{
    transform: scaleX(1.03) scaleY(1.03);
    box-shadow: 0 0 4px rgba(0,0,0,0.25);
}

.button_text{
    color: white;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 300;
}

