.hero{
    background-image: url("https://pixabay.com/get/g06a1b9bf28a707a947059fa30bdd580089be8f3385cacf08f903c272b22567d3b7f6edb39cc4b1e64557a6f013d08115ab46a2d5ad008adda9e677bbb9f8e5ee_1920.jpg");
    height: 170px;
    background-size: cover; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    color: #fff;   
    font-size: 3rem;
    font-weight: 700;
  
  
}

.searchBar{
    background-color: #fff;
    border-radius: 46px;
    height: 44px;
    padding: 6px;
    width: 290px;
    border-color: unset;
    border-style: unset;
}

.subtitle{
    font-weight: 700;
    font-size: 1.3rem;
    color: #818181;
}

.selector{
    width: 124px;
    height: 34px;
    background: #FFFFFF;
    border: 1px solid #818181;
    border-radius: 10px;
    font-weight: 400;
    font-size: 1rem;
    color: #818181;
    padding-left: 8px;
}
