

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.section{
    background: #111;
    min-height: 100vh;
}

.bannerVideo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container{
    position: relative;
    padding: 0 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
}

.container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    backdrop-filter: blur(10px);
    box-shadow: 10px 0 15px rgb(0, 0, 0, 0.05);
}

.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}

.logo{
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.8em;
    text-decoration: none;
}

.lista{
    position: relative;
    display: flex;
}

.lista_elemento{
    list-style: none;
    margin: 0 20px;
}

.menu{
    position: relative;
    text-decoration: none;
    font-size: 18px;
    padding: 4px 10px;
    color: #fff;
}

.menu:hover{
    background: #fff;
    color: #111;
}

.active{
    background: #fff;
    color: #111;
}

.content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.bannerText{
    position: relative;
    max-width: 700px;
}

.title{
    color: #fff;
    font-size: 6em;
    line-height: 1em;
    font-weight: 700;
}

.text{
    color: #fff;
    font-size: 18px;
    margin: 20px 0;
}


@media (max-width: 600px) {
    .container{
        padding: 20px;
    }

    .container::before{
        width: 100%;
    }

    .header{
        padding: 10px 20px;
    }

    .lista{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #fff;
        z-index: 1000;
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .lista_elemento{
        text-align: center;
        margin: 10px;
    }

    .menu{
        color: #333;
        font-size: 1.5em;
    }

    .menu:hover{
        color: #f00;
    }

    .bannerText{
        max-width: 100%;
        text-align: center;
    }

    .title{
        font-size: 6em;
    }
}